version: '3.8'

services:
  mongodb:
    image: mongo
    restart: always
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - ./data-db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mongoadmin
      MONGO_INITDB_DATABASE: db_uas
    ports:
      - "27017:27017"
    networks:
      - my_network

  db_wds:
    container_name: mysql-container-wds
    image: mysql:8.0
    restart: always
    command: mysqld --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${SQL_ROOT_PASSWORD}
      MYSQL_USER: ${SQL_USER}
      MYSQL_PASSWORD: ${SQL_PASSWORD}
      MYSQL_DATABASE: ${SQL_DATABASE_WDS}
    volumes:
      - ./mysql_wds_data:/var/lib/mysql
    ports:
      - "${SQL_PORT_WDS}:3306"
    networks:
      - my_network
  db_wds_replica:
    container_name: mysql-container-wds-replica
    image: mysql:8.0
    restart: always
    command: mysqld --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${SQL_ROOT_PASSWORD}
      MYSQL_USER: ${SQL_USER}
      MYSQL_PASSWORD: ${SQL_PASSWORD}
      MYSQL_DATABASE: ${SQL_DATABASE_WDS}
    volumes:
      - ./mysql_wds_data_replica:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - my_network



  user_alert_service:
    container_name: django-user-alert-service
    build:
      context: ./user_alert_service
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - ./user_alert_service/:/usr/src/app
    env_file:
      - .env
    ports:
      - "8001:8001"
    depends_on:
      - mongodb
    environment:
      - SERVICE_IP=127.0.0.1
      - SERVICE_PORT=8001
      - SERVICE_NAME=django-user-alert-service
    networks:
      - my_network

  user_alert_service-2:
    container_name: django-user-alert-service-2
    build:
      context: ./user_alert_service
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8002
    volumes:
      - ./user_alert_service/:/usr/src/app
    env_file:
      - .env
    ports:
      - "8002:8002"
    depends_on:
      - mongodb
    environment:
      - SERVICE_IP=127.0.0.1
      - SERVICE_PORT=8002
      - SERVICE_NAME=django-user-alert-service-2
    networks:
      - my_network

  user_alert_service-3:
    container_name: django-user-alert-service-3
    build:
      context: ./user_alert_service
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8003
    volumes:
      - ./user_alert_service/:/usr/src/app
    env_file:
      - .env
    ports:
      - "8003:8003"
    depends_on:
      - mongodb
    environment:
      - SERVICE_IP=127.0.0.1
      - SERVICE_PORT=8003
      - SERVICE_NAME=django-user-alert-service-3
    networks:
      - my_network

  weather_data_service:
    container_name: django-weather-data-service
    build:
      context: ./weather_data_service
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./weather_data_service/:/usr/src/app
    env_file:
      - .env
    ports:
      - "8000:8000"
      - "50052:50051" # gRPC port
    depends_on:
      - db_wds
      - db_wds_replica
    networks:
      - my_network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - my_network

  service_discovery:
    build:
      context: ./service_discovery
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    depends_on:
      - user_alert_service
      - weather_data_service
    networks:
      - my_network

  nginx_load_balancer:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - user_alert_service
      - user_alert_service-2
      - user_alert_service-3
    networks:
      - my_network

  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - user_alert_service
      - weather_data_service
      - redis
      - nginx_load_balancer
    networks:
      - my_network


  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - my_network

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "4000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
